{{extend 'layout.html'}}
<link href="{{=URL('static','bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css')}}">
<link rel="stylesheet" href="{{=URL('static','bower_components/bootstrap-tokenfield/dist/css/bootstrap-tokenfield.min.css')}}">
<script type="text/javascript" src="{{=URL('static','js/list.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','bower_components/jquery-ui/jquery-ui.min.js')}}"></script>
<script src="{{=URL('static','bower_components/bootstrap-tokenfield/dist/bootstrap-tokenfield.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','bower_components/underscore/underscore-min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','bower_components/moment/moment.js')}}"></script>
<h1>Create an event</h1>
<form role="form">
<div class="form-group">
	<label for="name">Event Name:</label>
	<input type="text" class="form-control" id="name">
</div>
<div class="form-group">
	<label for="description">Description:</label>
	<textarea class="form-control" id="description"></textarea>
</div>
<div class="form-group">
<label>Visibity:</label>
<div class="radio" id="vis">
	<label><input type="radio" name="visible">Public</label>
	<label><input type="radio" name="visible">Private</label>
</div>
</div>
<label>Start time:</label>
<div class="form-group">
    <div class='input-group date' id='datetimepicker1'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
</div>
</form>
<label>Groups:</label>
<input type="text" class="form-control" id="tokenfield" value="red,green,blue" />
<div class="form-group">
    <label>Repeat?</label>
    <div class="checkbox">
        <label><input type="checkbox" value="1">If yes, daily/weekly/monthly</label>
    </div>
</div>
<div class="form-group">
    <label for="location">Location:</label>
    <input type="text" class="form-control" id="location">
</div>
<button type="submit" class="btn btn-default">Submit</button>
</form><br>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>
<script>
    $('#tokenfield').tokenfield({
        autocomplete: {
            source: ['red','blue','green','yellow','violet','brown','purple','black','white'],
            delay: 100
        },
        showAutocompleteOnFocus: true
    })
</script>