{{extend 'layout.html'}}
<script src="{{=URL('static','DataTables/dataTables.min.js')}}"></script>
<link rel="stylesheet" href="{{=URL('static','DataTables/dataTables.min.css')}}">
<h1>Query Calendar</h1>
<div id="hi"></div>
<table id="datatable" border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Start Date</th>
    </tr>
    </thead>
{{for item in res:}}
<tr><td>
{{=item.eventName}}
    </td>
    <td>{{=item.startAt}}</td>
    </tr>
{{pass}}
</table>
<script>
    $(document).ready(function() {
        $('#datatable').DataTable({
            dom: 'Bfrtip',
            select: true,
            buttons: [
                {
                    extend: 'collection',
                    text: 'Export',
                    buttons: [
                        'copy',
                        'excel',
                        'csv',
                        'pdf',
                        'print'
                    ]
                }
            ]
        });
    } );
</script>