<link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
<h1 style="text-align:center">{{=des.eventName}}</h1>
{{=des.description}}
<ul class="well">
    {{=LI('Starts At:   ', des.startAt)}}
    {{=LI('Ends At:   ', des.endAt)}}
    {{if des.venue:}}
    {{=LI('Venue:   ', des.venue)}}
    {{pass}}
</ul>
{{if des.contact or des.link:}}
{{=H1('Contact information')}}
<ul class="well">
{{=LI('Phone number:   ', des.contact)}}
{{=LI('Link: ', A(des.link, _href=des.link, _target='new'))}}
</ul>
{{pass}}
